<% layout("/layouts/boilerplate") %>

<div class="row">
  <div class="col-8 offset-2">
    <h3 class="text-center fs-2">create a new listing</h3>
    <form method="POST" action="/listings">
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          type="text"
          name="title"
          placeholder="enter title"
          required
          class="form-control shadow-none"
        />
      </div>

      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea
          name="description"
          placeholder="enter description"
          class="form-control shadow-none"
        ></textarea>
      </div>

      <div class="mb-3">
        <label for="image" class="form-label">Image Link</label>
        <input
          type="text"
          name="image"
          placeholder="enter image URL/Link"
          class="form-control shadow-none"
        />
      </div>

      <div class="row">
        <div class="mb-3 col-md-4">
          <label for="price" class="form-label">Price</label>
          <input
            type="number"
            name="price"
            placeholder="enter price"
            class="form-control shadow-none"
          />
        </div>

        <div class="mb-3 col-md-8">
          <label for="country" class="form-label">Country</label>
          <input
            type="text"
            name="country"
            placeholder="enter country"
            required
            class="form-control shadow-none"
          />
        </div>
      </div>

      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input
          type="text"
          name="location"
          class="form-control shadow-none"
          required
        />
      </div>

      <button class="btn btn-primary btn-lg px-5 mb-2">Add</button>
    </form>
  </div>
</div>
