body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  flex: 1;
}

.navbar {
  height: 5rem;
  background-color: white;
}
.fa-compass {
  color: #fe424d;
  font-size: 2rem;
}
.nav-link {
  color: #222222 !important;
}

/* footer */
.f-info-links a {
  text-decoration: none;
  color: #222222;
}
.f-info-links a:hover {
  text-decoration: underline;
}
.f-info {
  height: 8rem;
  background-color: #ebebeb;
  display: flex;
  justify-content: center;
  align-items: space-evenly;
  flex-wrap: wrap;
  text-align: center;
}

.i-info-socials,
.f-info-links,
.f-info-brand {
  width: 100%;
  /* vertical-align: middle; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.i-info-socials {
  font-size: 1.2rem;
  margin-right: 1rem;
}

/* Cards */
.card {
  border: none !important;
  margin-bottom: 2rem;
}
.card-img-top {
  border-radius: 1rem !important;
  width: 100%;
  object-fit: cover !important;
  object-position: center !important;
}

.listings-links {
  text-decoration: none !important;
}

/* Card Effect */
.card-img-overlay {
  opacity: 0;
}
.card-img-overlay:hover {
  opacity: 0.2;
  background-color: white;
}

/* Show Page */
.show-image {
  height: 30vh;
}
.btns{
      display: flex;
}
.show-card{
      padding-left: 0;
      padding-right: 0;
}

/* edit Review cards */
#all-card{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
  margin-right: 10px;
}
.review-card{
  padding: 8px;
  width: 13.8rem;
  border: 1px solid rgba(72, 72, 72, 0.605) !important;
  border-radius: 8px;
}