<% layout("/layouts/boilerplate") %>

<div class="row mt-3">
  <div class="col-8 offset-3">
    <h3>Login</h3>
    <form action="/login" method="POST" novalidate class="needs-validation">
      <div class="mb-3 mt-3">
        <label for="username" class="form-label">Username</label>
        <input
          type="text"
          class="form-control"
          id="username"
          name="username"
          required
        />
        <div class="invalid-feedback">Please enter a username.</div>
      </div>

      <div class="mb-3 mt-3">
        <label for="password" class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          name="password"
          required
        />
        <div class="invalid-feedback">Please enter a password.</div>
      </div>
      <p style="text-align: center">
        Don't have an account?
        <a href="/signup" class="text-decoration-none"> Sign Up </a>
      </p>
      <button type="submit" class="btn btn-primary mt-3 mb-3">login</button>
    </form>
  </div>
</div>
